<app-page-header [title]="'TimeTable'" [items]="['Timetable']" [active_item]="'Timetableclass'"></app-page-header>

<div class="row row-sm">
  <div class="col-sm-12 col-lg-12 col-xl-12">
    <div class="card custom-card">
      <div class="">
        <div class="p-3 border-bottom">
          <div class="d-flex align-items-center mb-3">
            <h5 class="mb-0">TimeTables</h5>
            <div class="ms-auto d-flex align-items-center">
              <div class="btn-list radiobtns">
               </div>
            </div>
          </div>
          <!-- <div class="input-group mb-0" *ngIf="curdBtnIsList">
                        <input type="text" class="form-control" placeholder="Search..." />
                        <span class="input-group-append">
                            <button class="btn ripple btn-info" type="button">
                                <i class="fe fe-search me-2"></i> Search
                            </button>
                        </span>
                    </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!curdBtnIsList">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Please {{ isEdit ? 'Edit' : 'Add' }} here</div>
      </div>
      <div class="card-body">
        <form [formGroup]="classForm" novalidate (ngSubmit)="formSubmit()">
          <div class="">
          <div class="row mg-b-20">
            <div class="parsley-input col-md-6">
              <label>Branch: <span class="tx-danger">*</span></label>
              <ng-select #select [items]="branchList" (change)="getPaymentType()" [searchable]="false" bindLabel="branchName" bindValue="branchId" value="branchId" formControlName="BranchId">
                  <ng-template ng-header-tmp>
                      <input style="width: 100%; line-height: 24px" type="text" (input)="select.filter($any($event.target).value)"/>
                  </ng-template>
              </ng-select>
              <div *ngIf="(basicFormControl['BranchId'].touched || submitted) && (basicFormControl['BranchId'].errors?.['required'])"
                  class="tx-danger">
                  <small>Branch is <strong>required</strong></small>
              </div>
          </div>
          <div class="parsley-input col-md-6">
            <label>Class Name: <span class="tx-danger">*</span></label>
            <input class="form-control" formControlName="Name" (ngModelChange)="this.isRecordExist()" placeholder="Enter Class name"
              [ngClass]="{'has-success': basicFormControl['Name'].valid}">
            <div
              *ngIf="(basicFormControl['Name'].touched || submitted) && (basicFormControl['Name'].errors?.['required'])"
              class="tx-danger">
              <small>Class Name is <strong>required</strong></small>
            </div>
          </div>
          </div>
             
              <div class="row mg-b-20">
              <div class="parsley-input col-md-6 mg-t-20 mg-md-t-0" id="lnWrapper">
                <label>Description:</label>
                <textarea class="form-control" formControlName="Description" placeholder="Enter Description"></textarea>
              </div>
            </div>
            <div class="row mg-b-20">
              <div class="parsley-input col-md-3">
                <label>Payment Type:</label>
                <ng-select #select [items]="paymentTypes" [(ngModel)]="paymentType" [ngModelOptions]="{standalone: true}"
                  bindLabel="type" bindValue="paymentTypeId" (change)="paymentTypeSelection($event)"></ng-select>
              </div>
              <div class="parsley-input col-md-9">

                <div class="table-responsive">
                  <table class="table table-bordered border text-nowrap mb-0">
                    <tr>
                      <th>Payment Type</th>
                      <th>Amount</th>
                      <th>Actions</th>
                    </tr>
                    <tr *ngFor="let item of paymentTypesSelected;let ndx = index">
                      <td>{{item.type}}</td>
                      <td> <input class="form-control" [value]="item.amount"  [(ngModel)]="item.amount" placeholder="Enter Amount"> </td>
                      <td>
                        <a  href="#"
                          (click)="deleteSelectedPayment(ndx);$event.preventDefault()">Delete</a>
  
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="mg-t-30">
            <button class="btn btn-primary pd-x-20" type="submit">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="curdBtnIsList">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
            <div class="parsley-input col-md-8">
          <h3 class="card-title">Manange all TimeTables</h3>
            </div>
          <div class="parsley-input col-md-4">
            <label>Branch: <span class="tx-danger">*</span></label>
            <ng-select #select [items]="branchList"  [(ngModel)]="FilterBranchId" (change)="getClassesList()"
            bindLabel="branchName" bindValue="branchId">
          </ng-select>
        </div>

    </div>
    </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered border text-nowrap mb-0">
            <thead>
              <tr>
                <th>Class name</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of gridList;let ndx = index">
                <td>{{item.name}}</td>
                <td> {{item.description}} </td>
                <td>
                  <a class="btn me-3 btn-sm btn-primary" [routerLink]="['/timetable/timetable-list/',item.classId,item.name]">
                    TimeTable
                </a>
                    
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="pagination.totalCount" [(page)]="pagination.pageNo" [pageSize]="pagination.pageSize" (pageChange)="onPageChange($event)" [maxSize]="pagination.maxSize" [boundaryLinks]="true" [ellipses]="true"></ngb-pagination>

          
          <ng-select class="" style="min-width: 100px" name="pageSize" (change)="getClassesList()" [(ngModel)]="pagination.pageSize">
            <ng-option value="5">5</ng-option>
            <ng-option value="10" selected>10</ng-option>
            <ng-option value="50">50</ng-option>
            <ng-option value="100">100</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
  </div>
</div>