# Angular build output
/dist/
/out-tsc/

# Node dependencies
/node_modules/

# Compiled TypeScript
*.js
*.js.map

# Temporary files
*.tmp
*.log
*.bak
*.swp

# Angular specific
.angular/

# Environment files
src/environments/environment*.ts

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
