<app-page-header [title]="'Client Onboarding'" [items]="['Forms']" [active_item]="'Employee Registration'"></app-page-header>
<div class="row row-sm">
  <div class="col-sm-12 col-lg-12 col-xl-12">
    <div class="card custom-card">
      <div class="">
        <div class="p-3 border-bottom">
          <div class="d-flex align-items-center mb-3">
            <h5 class="mb-0">JOB Description</h5>
            <div class="ms-auto d-flex align-items-center">
              <div class="btn-list radiobtns">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" class="btn-check" name="btnradio" id="Add" (click)="changeCurdView(false)"
                    [checked]="!curdBtnIsList">
                  <label ngbTooltip="Add" class="btn btn-primary" for="Add"><i class="fa fa-plus">
                      Add</i></label>
                  <input type="radio" class="btn-check" name="btnradio" id="List" (click)="changeCurdView(true)"
                    [checked]="curdBtnIsList">
                  <label ngbTooltip="List" class="btn btn-outline-primary" for="List"><i class="fa fa-list-ul">
                      List</i></label>
                </div>
              </div>
            </div>
          </div>
          <div class="input-group mb-0" *ngIf="curdBtnIsList">
            <input type="text" class="form-control" [(ngModel)]="pagination.searchText" (keyup.enter)="onSearchText()"
              placeholder="Search..." />
            <span class="input-group-append">
              <button class="btn ripple btn-info" (click)="onSearchText()" type="button">
                <i class="fe fe-search me-2"></i> Search
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="!curdBtnIsList">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Client Onboarding</div>
        
      </div>
      <div class="card-body">
        <div id="wizard3">        
                  <form [formGroup]="registrationForm" novalidate (ngSubmit)="formSubmit()">
                  <section>
                    <div class="row">
                      
                      <div class="col-md-6 col-sm-12 col-md-4 my-1">
                        <label>Company Name
                            : </label>
                        <input class="form-control" formControlName="FirstName" placeholder="company name"
                          [ngClass]="{'has-success': basicFormControl['FirstName'].valid}">
                        <div
                          *ngIf="(basicFormControl['FirstName'].invalid) && submitted && (basicFormControl['FirstName'].errors?.['required'])"
                          class="tx-danger">
                          <small>Company Name
                            is <strong>required</strong></small>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12 col-md-4 my-1">
                        <label>Contact Person Name
                            </label>
                        <input class="form-control" formControlName="MiddleName" placeholder="contact person name"
                          [ngClass]="{'has-success': basicFormControl['MiddleName'].valid}">
                        <div
                          *ngIf="(basicFormControl['MiddleName'].invalid) && submitted && (basicFormControl['MiddleName'].errors?.['required'])"
                          class="tx-danger">
                          <small>Contact Person Name
                            is <strong>required</strong></small>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12 col-md-4 my-1">
                        <label>Contact Email Address: </label>
                        <input class="form-control" formControlName="PersonalEmail" placeholder=""
                          [ngClass]="{'has-success': basicFormControl['PersonalEmail'].valid}">
                        <div
                          *ngIf="submitted && (basicFormControl['PersonalEmail'].errors?.['required'])"
                          class="tx-danger">
                          <small>Contact Email Address is <strong>required</strong></small>
                        </div>
                        <div
                          *ngIf="submitted && (basicFormControl['PersonalEmail'].errors?.['pattern'])"
                          class="tx-danger">
                          <small>Email is not <strong>correct</strong></small>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12 col-md-4 my-1">
                        <label>Contact Phone Number: </label>
                        <input class="form-control" formControlName="Contact" placeholder=""
                          [ngClass]="{'has-success': basicFormControl['Contact'].valid}">
                        <div
                          *ngIf="(basicFormControl['Contact'].invalid) && submitted && (basicFormControl['Contact'].errors?.['required'])"
                          class="tx-danger">
                          <small>Contact Phone Number is <strong>required</strong></small>

                      </div>
                      </div>
                      <div  class="col-md-6 col-sm-12 col-md-4 my-1">
                        <label>Client Type
                        </label>
                        <select class="form-control select2"  style="width: 100%;">
                          <option value="Select Option">Select Option</option>
                          <option value="BPO">BPO</option>
                          <option value="Back Office" >Back Office</option>
                          <option value="Industry">Industry</option>
                         
                        </select>
                          
                          
                        
                      <!-- /.form-group -->
                      </div>
                      <div class="col-md-6 col-sm-12 col-md-4 my-1">
                        <label>Company Address:</label>
                        <input class="form-control" formControlName="CurrentStreetAddress" placeholder="   ">
                      </div>
                      <div class="col-md-6 col-sm-12 col-md-4 my-1">
                        <label>Number Of Employees: </label>
                        <input class="form-control" formControlName="Contact" placeholder=""
                          [ngClass]="{'has-success': basicFormControl['Contact'].valid}">
                        <div
                          *ngIf="(basicFormControl['Contact'].invalid) && submitted && (basicFormControl['Contact'].errors?.['required'])"
                          class="tx-danger">
                          <small>Number is <strong>required</strong></small>

                      </div>
                      </div>
                      <div class="col-md-6 col-sm-12 col-md-4 my-1">
                        <label>Onboarding Start Date: </label>
                        <div class="form-input">
                          <div class="input-group">
                            <input  formControlName="DateOfJoining" class="form-control" placeholder="dd/mm/yyyy"
                              name="d2" [(ngModel)]="onboardingStartDatePicker" ngbDatepicker #d2="ngbDatepicker" />
                            <button  class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()"
                              type="button"></button>
                          </div>
                        </div>
                        <div
                          *ngIf="(basicFormControl['DateOfJoining'].invalid) && submitted&& (basicFormControl['DateOfJoining'].errors?.['required'])"
                          class="tx-danger">
                          <small>Date is <strong>required</strong></small>
                        </div>
                      </div>
                      <br><br>
                      <div class="col-md-6 col-sm-12 col-md-4 my-1">
                        
                          <label>Services Required:
                          </label>
                          <select multiple class="form-control"  >
                            <option value="">select option</option>
                            <option value="B-form ">Call Centre Service
                            </option>
                            <option value="Benazir Income support card">Medical Billing
                            </option>
                            <option value="CNIC ">Back Office
                            </option>
                            <option value="Court documents">Software Development
                            </option>
                            <option value="Divorce certificate">IT Services
                            </option>
                            <option value="Driving license">Backend Services
                            </option>
                            
                          </select>
                        
                      </div>
                  
                    </div>

                    <br>
                      <div  class="row">
                        
                          <label>Special Requirements or Notes:
                          </label>
                          <textarea class="form-control"  rows="2"></textarea>
                        
                      </div>
                    
                     
                      
                    
                    
                  
                  
                  
                  
      
                
                 
                  
      
               

                 
                  
                        
                        
                       
                     
                     
                  </section>
                  <br><br>
                  <button [disabled]="working" type="submit" class="btn btn-success me-2" mat-button>
                    Save & Next
                  </button>
                </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="curdBtnIsList">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Manage the all Client Onboarding</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered border text-nowrap mb-0" id="new-edit">
            <thead>
              <tr>
                <th>ID</th>
                <th>Company Name</th>
                <th>Contact Person Name</th>
                <th>Contact Email</th>
                
                <th>Onboarding Start Date</th>
                <th>Actions</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of onboardingList;let ndx = index">
                <td>{{item.onboardingId}}</td>
                <td>{{item.companyName}}</td>
                <td>{{item.contactPersonName}}</td>
                <td>{{item.contactEmailAddress}}</td>
                
                <td>{{item.onboardingStartDate | date: 'yyyy-MM-dd'}}</td>
                <td>
                  <button type="button" (click)="setRegistrationValuesForupdate(item)" class="btn btn-sm btn-primary">
                    <span class="fe fe-edit"> </span>
                    <!-- Edit -->
                  </button>
                  <button (click)="deleteRow(item)" id="bDel" type="button" class="btn mx-3 btn-sm btn-danger">
                    <span class="fe fe-trash-2"> </span>
                    <!-- trash -->
                  </button>
                  <label>
                    <input (click)="IsActive(item)" type="checkbox" [checked]="item.isActive"
                      name="form-switch-checkbox1" class="form-switch-input">
                    <span class="form-switch-indicator"></span>
                  </label>
                </td>



              
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="pagination.totalCount" [(page)]="pagination.pageNo"
            [pageSize]="pagination.pageSize" (pageChange)="onPageChange($event)" [maxSize]="pagination.maxSize"
            [boundaryLinks]="true" [ellipses]="true"></ngb-pagination>

<!-- 
          <ng-select class="" style="min-width: 100px" name="pageSize" (change)="getdepartments()"
            [(ngModel)]="pagination.pageSize">
            <ng-option value="5">5</ng-option>
            <ng-option value="10" selected>10</ng-option>
            <ng-option value="50">50</ng-option>
            <ng-option value="100">100</ng-option>
          </ng-select> -->
        </div>
      </div>
    </div>
  </div>
</div>
