<app-page-header [title]="'FINANCE APPROVED STUDENTS'" [items]="['Forms']" [active_item]="'Students'"></app-page-header>
<div class="row row-sm">
    <div class="col-sm-12 col-lg-12 col-xl-12">
        <div class="card custom-card">
            <div class="">
                <div class="p-3 border-bottom">
                    <div class="input-group mb-0" >
                        <input type="text" class="form-control" [(ngModel)]="searchText" (keyup.enter)="onSearchText()" placeholder="Search..." />
                        <span class="input-group-append">
                            <button class="btn ripple btn-info" (click)="onSearchText()" type="button">
                                <i class="fe fe-search me-2"></i> Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="parsley-input col-md-8">
                  <h3 class="card-title">Finance Approved Students</h3>
                    </div>
                  <!-- <div class="parsley-input col-md-4">
                    <label>Branch: <span class="tx-danger">*</span></label>
                    <ng-select #select [items]="branchList"  [(ngModel)]="FilterBranchId" (change)="getStudents()"
                    bindLabel="branchName" bindValue="branchId">
                  </ng-select>
                </div> -->
        
            </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered border text-nowrap mb-0" id="new-edit">
                        <thead>
                            <tr>
                                <th>Actions</th>
                                <th>Name</th>
                                <th>Last Name</th>
                                <th>H Code</th>
                                <th>Email</th>
                                <th>Class Name</th>
                                <th>Level Name</th>
                                <th>Gender</th>
                                <th>Student Phone No</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of studentList;let ndx = index">
                                <td>
                                   <a [routerLink]="['/it/add-student-user']" [queryParams]="{sid:item.studentId}">
                                        Add User
                                    </a>
                                </td>
                                <td>{{item.firstName}}</td>
                                <td>{{item.lastName}}</td>
                                <td>{{item.hCode}}</td>
                                <td>{{item.studentEmail}}</td>
                                <td>{{item.className}}</td>
                                <td>{{item.levelName}}</td>
                                <td>{{item.genderName}}</td>
                                <td>{{item.studentPhoneNo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="pagination.totalCount" [(page)]="pagination.pageNo" [pageSize]="pagination.pageSize" (pageChange)="onPageChange($event)" [maxSize]="pagination.maxSize" [boundaryLinks]="true" [ellipses]="true"></ngb-pagination>
    
                    <ng-select class="" style="min-width: 100px" name="pageSize" (change)="getStudents()" [(ngModel)]="pagination.pageSize">
                      <ng-option value="5">5</ng-option>
                      <ng-option value="10" selected>10</ng-option>
                      <ng-option value="50">50</ng-option>
                      <ng-option value="100">100</ng-option>
                    </ng-select>
                  </div>
            </div>
        </div>
    </div>
</div>