<app-page-header [title]="'Payment Type Sap Config'" [items]="['Payment Type Sap Config']" [active_item]="'Payment Type Sap Config'"></app-page-header>

<div class="row row-sm">
    <div class="col-sm-12 col-lg-12 col-xl-12">
        <div class="card custom-card">
            <div class="">
                <div class="p-3 border-bottom">
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="mb-0">Payment Type Sap Config</h5>
                        <div class="ms-auto d-flex align-items-center">
                            <div class="btn-list radiobtns">
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="btnradio" id="Add" (click)="changeCurdView(false)" [checked]="!curdBtnIsList">
                                    <label ngbTooltip="Add" class="btn btn-outline-primary" for="Add"><i
                                            class="fa fa-plus"> Add</i></label>
                                    <input type="radio" class="btn-check" name="btnradio" id="List" (click)="changeCurdView(true)" [checked]="curdBtnIsList">
                                    <label ngbTooltip="List" class="btn btn-outline-primary" for="List"><i
                                            class="fa fa-list-ul"> List</i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-0" *ngIf="curdBtnIsList">
                        <input type="text" class="form-control" [(ngModel)]="pagination.searchText" (keyup.enter)="onSearchText()" placeholder="Search..." />
                        <span class="input-group-append">
                            <button class="btn ripple btn-info" (click)="onSearchText()" type="button">
                                <i class="fe fe-search me-2"></i> Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="!curdBtnIsList">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Please {{ isEdit ? 'Edit' : 'Add' }} here</div>
            </div>
            <div class="card-body">
                <form [formGroup]="PaymentTypeSapConfigForm" novalidate (ngSubmit)="formSubmit()">
                    <div class="">
                        <div class="row mg-b-20">
                           
                              <div class="parsley-input col-md-6" id="fnWrapper">
                                <label>Payment Type: <span class="tx-danger">*</span></label>
                                <ng-select #select [items]="paymentTypes" [searchable]="false" bindLabel="type" bindValue="paymentTypeId" value="paymentTypeId" formControlName="paymentTypeId">
                                    <ng-template ng-header-tmp>
                                        <input style="width: 100%; line-height: 24px" type="text" (input)="select.filter($any($event.target).value)"/>
                                    </ng-template>
                                </ng-select>
                                <div *ngIf="(basicFormControl['paymentTypeId'].touched || submitted) && (basicFormControl['paymentTypeId'].errors?.['required'])"
                                    class="tx-danger">
                                    <small>Payment Type is <strong>required</strong></small>
                                </div>
                            </div>
                            <div class="parsley-input col-md-6" id="lnWrapper">
                                <label>SAP Code: </label>
                                <input class="form-control" formControlName="SapCode" placeholder="Enter SAP Code "
                                    [ngClass]="{'has-success': basicFormControl['SapCode'].valid}">
                                <div *ngIf="(basicFormControl['SapCode'].touched || submitted) && (basicFormControl['SapCode'].errors?.['required'])"
                                    class="tx-danger">
                                    <small>Sap Code is <strong>required</strong></small>
                                </div>
                            </div>
                        </div>
                        <div class="row mg-b-20">
                            <div class="parsley-input col-md-6" id="lnWrapper">
                                <label>Cost Center One: </label>
                                <input class="form-control" formControlName="CostCenter1" placeholder="Enter Cost Center One "
                                    >
                                <!-- <div *ngIf="(basicFormControl['CostCenter1'].touched || submitted) && (basicFormControl['CostCenter1'].errors?.['required'])"
                                    class="tx-danger">
                                    <small>Cost Center one is <strong>required</strong></small>
                                </div> -->
                            </div>
                            <div class="parsley-input col-md-6" id="lnWrapper">
                                <label>Cost Center Two: </label>
                                <input class="form-control" formControlName="CostCenter2" placeholder="Enter Cost Center Two "
                                    >
                                <!-- <div *ngIf="(basicFormControl['CostCenter2'].touched || submitted) && (basicFormControl['CostCenter2'].errors?.['required'])"
                                    class="tx-danger">
                                    <small>Cost Center Two is <strong>required</strong></small>
                                </div> -->
                            </div>
                           
                        </div>
                        <div class="row mg-b-20">
                            <div class="parsley-input col-md-6" id="lnWrapper">
                                <label>Cost Center Three: </label>
                                <input class="form-control" formControlName="CostCenter3" placeholder="Enter Cost Center Three "
                                    >
                                <!-- <div *ngIf="(basicFormControl['CostCenter3'].touched || submitted) && (basicFormControl['CostCenter3'].errors?.['required'])"
                                    class="tx-danger">
                                    <small>Cost Center Three is <strong>required</strong></small>
                                </div> -->
                            </div>
                            <div class="parsley-input col-md-6" id="lnWrapper">
                                <label>Cost Center Four: </label>
                                <input class="form-control" formControlName="CostCenter4" placeholder="Enter Cost Center Four "
                                   >
                                <!-- <div *ngIf="(basicFormControl['CostCenter4'].touched || submitted) && (basicFormControl['CostCenter4'].errors?.['required'])"
                                    class="tx-danger">
                                    <small>Cost Center Four is <strong>required</strong></small>
                                </div> -->
                            </div>
                            
                        </div>
                        <div class="row mg-b-20">
                            <div class="parsley-input col-md-6" id="lnWrapper">
                                <label>Cost Center Five: </label>
                                <input class="form-control" formControlName="CostCenter5" placeholder="Enter Cost Center Five name"
                                    >
                                <!-- <div *ngIf="(basicFormControl['CostCenter5'].touched || submitted) && (basicFormControl['CostCenter5'].errors?.['required'])"
                                    class="tx-danger">
                                    <small>Cost Center Five is <strong>required</strong></small>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="mg-t-30">
                        <button class="btn btn-primary pd-x-20" type="submit">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="curdBtnIsList">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Manage the all PaymentTypeSapConfig</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered border text-nowrap mb-0" id="new-edit">
                <thead>
                  <tr>
                    <th>Payement Type</th>
                    <th>SAP Code</th>
                    <th>Cost Center One</th>
                    <th>Cost Center Two</th>
                    <th>Cost Center Three</th>
                    <th>Cost Center Four</th>
                    <th>Cost Center Five</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of PaymentTypeSapConfigs;let ndx = index">
                    <td>{{item.payType}}</td>
                    <td>{{item.sapCode}}</td>
                    <td>{{item.costCenter1}}</td>
                    <td>{{item.costCenter2}}</td>
                    <td>{{item.costCenter3}}</td>
                    <td>{{item.costCenter4}}</td>
                    <td>{{item.costCenter5}}</td>
                    <td>
                        <button type="button" (click)="setValueToForm(item)" class="btn btn-sm btn-primary">
                            <span class="fe fe-edit"> </span>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="pagination.totalCount" [(page)]="pagination.pageNo" [pageSize]="pagination.pageSize" (pageChange)="onPageChange($event)" [maxSize]="pagination.maxSize" [boundaryLinks]="true" [ellipses]="true"></ngb-pagination>

              
              <ng-select class="" style="min-width: 100px" name="pageSize" (change)="getPaymentTypeSapConfigs()" [(ngModel)]="pagination.pageSize">
                <ng-option value="5">5</ng-option>
                <ng-option value="10" selected>10</ng-option>
                <ng-option value="50">50</ng-option>
                <ng-option value="100">100</ng-option>
              </ng-select>
            </div>
        </div>
      </div>
    </div>
  </div>