<!-- main-header -->
<div class="main-header side-header sticky nav nav-item">
  <div class="container-fluid main-container">
    <div class="main-header-left">
      <div class="app-sidebar__toggle mobile-toggle" data-bs-toggle="sidebar">
        <a class="open-toggle" href="javascript:void(0);">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="eva eva-menu-outline header-icons"
          >
            <g data-name="Layer 2">
              <g data-name="menu">
                <rect
                  width="24"
                  height="24"
                  transform="rotate(180 12 12)"
                  opacity="0"
                ></rect>
                <rect
                  x="3"
                  y="11"
                  width="18"
                  height="2"
                  rx=".95"
                  ry=".95"
                ></rect>
                <rect
                  x="3"
                  y="16"
                  width="18"
                  height="2"
                  rx=".95"
                  ry=".95"
                ></rect>
                <rect
                  x="3"
                  y="6"
                  width="18"
                  height="2"
                  rx=".95"
                  ry=".95"
                ></rect>
              </g>
            </g></svg></a>
      
        <a class="close-toggle" href="javascript:void(0);">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="eva eva-close-outline header-icons"
          >
            <g data-name="Layer 2">
              <g data-name="close">
                <rect
                  width="24"
                  height="24"
                  transform="rotate(180 12 12)"
                  opacity="0"
                ></rect>
                <path
                  d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"
                ></path>
              </g>
            </g></svg></a>
      </div>
    <div class="responsive-logo">
							<a href="index.html" class="header-logo"><img src="./assets/img/brand/logo.png" class="logo-11" alt="logo"></a>
							<a href="index.html" class="header-logo"><img src="./assets/img/brand/logo-white.png" class="logo-1" alt="logo"></a>
						</div>
    </div>
    <button
      class="navbar-toggler nav-link icon navresponsive-toggler vertical-icon ms-auto"
      type="button"
      data-bs-toggle="collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
    </button>
    <div
      class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0 mg-lg-s-auto"
    >
      <div
        class="collapse navbar-collapse"
        #collapse="ngbCollapse"
        [(ngbCollapse)]="isCollapsed"
        [horizontal]="true"
      >
        <div class="main-header-right">
          <div class="dropdown nav-item main-layout">
            <a
              href="javascript:void(0)"
              class="new theme-layout nav-link-bg layout-setting"
              appToggleTheme
            >
              <span class="dark-layout"><i class="fe fe-moon"></i></span>
              <span class="light-layout"><i class="fe fe-sun"></i></span>
            </a>
          </div>
          <div class="nav nav-item navbar-nav-right mg-lg-s-auto">
            <div class="nav-item full-screen fullscreen-button">
              <a
                class="new nav-link full-screen-link"
                href="javascript:void(0);"
                appFullscreen
                ><i class="fe fe-maximize"></i
              ></a>
            </div>
            <div class="dropdown nav-item main-header-notification" ngbDropdown>
              <a
                ngbDropdownToggle
                class="new nav-link"
                href="javascript:void(0);"
                ><i class="fe fe-bell"></i><span class="pulse"></span
              ></a>
              <div ngbDropdownMenu class="dropdown-menu">
                <div
                  class="menu-header-content bg-primary text-start d-flex rounded-top-5"
                >
                  <div class="">
                    <h6 class="menu-header-title text-white mb-0">
                      4 New Notifications
                    </h6>
                  </div>
                  <div class="my-auto ms-auto">
                    <a
                      class="badge bg-pill bg-success float-end"
                      href="javascript:void(0);"
                      >Mark All Read</a
                    >
                  </div>
                </div>
                <a class="d-flex p-3 border-bottom" href="mail.html">
                  <div class="notifyimg bg-warning-transparent">
                    <i class="fe fe-mail text-warning"></i>
                  </div>
                  <div class="ms-3">
                    <h5 class="notification-label mb-1">New review received</h5>
                    <div class="notification-subtext">1 day ago</div>
                  </div>
                </a>

                <div
                  ngbDropdownItem
                  class="main-notification-list Notification-scroll"
                >
                  <a class="d-flex p-3 border-bottom" href="mail.html">
                    <div class="notifyimg bg-primary-transparent">
                      <i class="fe fe-check-circle text-primary"></i>
                    </div>
                    <div class="ms-3">
                      <h5 class="notification-label mb-1">Project approved</h5>
                      <div class="notification-subtext">4 hour ago</div>
                    </div>
                  </a>
                  <a class="d-flex p-3 border-bottom" href="mail.html">
                    <div class="notifyimg bg-purple-transparent">
                      <i class="fe fe-upload-cloud text-purple"></i>
                    </div>
                    <div class="ms-3">
                      <h5 class="notification-label mb-1">Updates Available</h5>
                      <div class="notification-subtext">2 days ago</div>
                    </div>
                  </a>
                  <a class="d-flex p-3" href="mail.html">
                    <div class="notifyimg bg-pink-transparent">
                      <i class="fe fe-file-text text-pink"></i>
                    </div>
                    <div class="ms-3">
                      <h5 class="notification-label mb-1">
                        New files available
                      </h5>
                      <div class="notification-subtext">10 hour ago</div>
                    </div>
                  </a>
                </div>

                <div class="dropdown-footer text-center">
                  <a href="notification.html" class="btn btn-primary w-md tx-13"
                    >View All<i class="fe fe-arrow-right tx-12 ms-2 lh-1"></i
                  ></a>
                </div>
              </div>
            </div>
            <div
              class="dropdown main-profile-menu nav nav-item nav-link"
              ngbDropdown
            >
              <a
                ngbDropdownToggle
                class="profile-user d-flex"
                href="javascript:void(0)"
                ><img
                  src="https://www.w3schools.com/howto/img_avatar.png"
                  alt="user-img"
                  class="rounded-circle mCS_img_loaded" /><span></span
              ></a>

              <div ngbDropdownMenu class="dropdown-menu">
                <div
                  class="main-header-profile header-img bg-primary rounded-top-5 p-3"
                >
                  <h6>Joyce Stewart</h6>
                  <span>web Designer</span>
                </div>
                <a ngbDropdownItem class="dropdown-item" href="profile.html"
                  ><i class="fe fe-user"></i> My Profile</a
                >
                <a ngbDropdownItem class="dropdown-item" href="profile.html"
                  ><i class="fe fe-edit"></i> Edit Profile</a
                >
                <a ngbDropdownItem class="dropdown-item" href="profile.html"
                  ><i class="fe fe-clock"></i> Activity Logs</a
                >
                <a ngbDropdownItem class="dropdown-item" href="profile.html"
                  ><i class="fe fe-settings"></i> Account Settings</a
                >
                <a ngbDropdownItem class="dropdown-item" href="Login.html"
                  ><i class="fe fe-log-out"></i> Sign Out</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main-header -->
